<div class="container " data-ng-controller="LoginController as login">
    <div id="loginbox" class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="page-header">
                <div class="panel-title text-center"><h3>Вход на личную страницу</h3></div>
            </div>
            <div class="panel-body">
                <form id ="loginForm" class="form-horizontal has-error" name="loginForm">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                                <input class="required form-control"
                                       type="text" id="login-username" name="username" ng-model="login.credentials.username"
                                       placeholder="Ф.И.О(полностью)">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                                <input class="required  form-control" type="password" id="login-password"
                                       name="password" data-ng-model="login.credentials.password" placeholder="СНИЛС">
                        </div>
                    <div>
                    <div class="btns col-sm-12">
                        <button type="submit" href="#" class="btn btn-primary pull-right" ng-click="login.login(loginForm)">
                            <i class="glyphicon glyphicon-log-in"></i>  Войти  </button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>